.custom_dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
}
.dropdown_label {
    font-size: var(--fs-base);
    font-weight: 500;
}
.dropdown_container {
    position: relative;
    width: 100%;
}
.dropdown_header {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: var(--fs-base);
    text-align: left;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
    margin-bottom: 10px;
}
.dropdown_header span {
    font-weight: 400;
    font-size: var(--fs-base);
}
.dropdown_header::after {
    position: absolute;
    right: 20px;
    content: "+";
    font-size: var(--fs-2xl);
    line-height: 25px;
    font-weight: 500;
    color: var(--accent-color);
    transition: transform .2s ease;
}
.dropdown_header--open {
    border-bottom: 1px solid var(--accent-color);
}
.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    box-shadow: 0 16px 40px var(--shadow-color);
    z-index: 1000;
    overflow-y: auto;
    border-radius: 20px;
}
.dropdown_items_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 20px;
}
.dropdown_item {
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.dropdown_item span {
    font-weight: 400;
    font-size: var(--fs-base);
}
.dropdown_item:hover {
    background-color: var(--accent-color);
}
.dropdown_item:hover span {
    color: var(--primary-color);
}