.tasksTitleContainer {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.tasksTitleContainer p {
    font-size: 36px;
    margin-left: 40px;
    font-weight: 500;
}

.tasksTitleContainer p span {
    font-weight: 700;
    color: #F6705E;
}