.tokenCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--gray);
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    min-height: 560px;
}

.tokenCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tokenName {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}

.tokenName p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tokenName p .tokenNameSvg {
    fill: var(--white);
    width: 35px;
    height: 35px;
}

.tokenCostWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    right: -20px;
}

.tokenCost {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
    width: 250px;
    min-width: 250px;
    height: 100px;
    background-color: var(--white);
    border-radius: 100px 0 0 100px;
    font-size: 30px;
    font-weight: 600;
    color: var(--black);
    line-height: 80%;
}

.tokenCost span {
    font-size: 16px;
    font-weight: 500;
}

.tokenDescriptionConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--glassmorph-transparent);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px var(--black-shadow);
    width: 100%;
}

.tokenDescription {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-left: 5px solid var(--white);
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.tokenOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}