.tariffWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tariffContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tariffConceptGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.tarrifTitlesContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}