.tariffWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tariffContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tariffGrid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.tariffGridItemRow {
    grid-column: span 2;
}