.tariffCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.tariffCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.tariffCardLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.tariffCardRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.tariffCardNamePosLeft,
.tariffCardSubNamePosLeft {
    display: flex;
    width: 100%;
    justify-content: start;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}
.tariffCardSubNamePosLeft p {
    font-size: 18px;
    font-weight: 600;
}
.tariffCardCostPosLeft {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    height: 100px;
    position: relative;
    left: -20px;
    padding-left: 40px;
    background-color: var(--white);
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    line-height: 80%;
    border-radius: 0 100px 100px 0;
}
.tariffCardCostPosLeft p span {
    font-size: 16px;
    font-weight: 500;
}


.tariffCardNamePosRight,
.tariffCardSubNamePosRight {
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}
.tariffCardNamePosRight p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tariffCardSubNamePosRight p {
    font-size: 18px;
    font-weight: 600;
}
.tariffCardNamePosRight .tariffIconSvg {
    fill: var(--white);
    width: 35px;
    height: 30px;
}
.tariffCardCostPosRight {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
    height: 100px;
    position: relative;
    right: -20px;
    padding-right: 40px;
    background-color: var(--white);
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    line-height: 80%;
    border-radius: 100px 0 0 100px;
}
.tariffCardCostPosRight p span {
    font-size: 16px;
    font-weight: 500;
}


.tariffCardDescriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;
    align-items: start;
    padding: 20px;
    background-color: var(--glassmorph-transparent);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px var(--black-shadow);
}

.tariffCardDescription {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.tariffDescriptionLine {
    width: 5px;
    min-width: 5px;
    height: 100%;
    border-radius: 100px;
    background-color: var(--white);
}

.tariffCardDivider {
    width: 85%;
    height: 5px;
    background-color: var(--white);
    border-radius: 100px;
}

.cardOptions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.cardOptionsEmpty {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--white);
}