.adminTaskContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background-color: var(--white);
    padding: 20px;
}

.adminTaskContainer p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.adminTaskTopic {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.adminTaskQuestion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminTaskContainer input:focus,
.adminTaskContainer input:valid,
.adminTaskContainer textarea:focus,
.adminTaskContainer textarea:valid {
    border: 1px solid var(--blue) !important;
    box-shadow: 0 0 3px var(--blue) !important;
}

.adminTaskImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.adminTaskImgsContainer {
    display: flex;
    width: 100%;
    justify-content: start;
}