.cardContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    transition: all .2s ease;
}

.cardImg {
    width: 100%;
    height: 100%;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContentWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .2s ease;
}

.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--glassmorph-transparent);
    backdrop-filter: blur(3px);
    transition: all .2s ease;
}

.cardTitle p {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.cardBtns {
    display: none;
}

.cardBtns .cardTasks {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cardBtns .cardTasks a {
    width: calc(100% / 4);
}

.cardBtns .cardExam a {
    width: 100%;
}

.cardContentWrapper:hover {
    padding: 0;
}

.cardContentWrapper:hover > .cardContent {
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 80px;
}

.cardContentWrapper:hover > .cardContent .cardBtns {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 20px 20px;
    opacity: 0;
    animation: btnAppears .2s ease .2s 1 normal forwards;
}

@keyframes btnAppears {
    from {opacity: 0;}
    to {opacity: 1;}
}
