.accountAcceptPopupContainer {
    padding: 40px;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 650px;
}
.accountAcceptPopupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.accountAcceptPopupInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 1.125rem;
    font-weight: 500;
}
.accountAcceptPopupInfo p:nth-child(2) {
    border-bottom: 1px solid var(--black);
}
.accountAcceptPopupInfo p:nth-child(2) span {
    color: var(--emphasis);
    font-weight: 600;
}
.accountAcceptPopupButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}