/*Стили для партнерской программы в личном кабинете*/
.partnerContainerWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
}
.partnerContainerWrapper p {
    font-size: 20px;
    font-weight: 700;
}

.partnerContainerWrapper a {
    width: 100%;
}



@media (max-width: 1450px) {
    .partnerContainerWrapper p {
        font-size: 18px;
    }
    .partnerContainerWrapper a {
        font-size: 16px;
    }
}

@media (max-width: 870px) {
    .partnerContainerWrapper {
        height: 220px;
    }
}

@media (max-width: 610px) {
    .subContainerWrapper {
        gap: 10px;
    }
    .subDate {
        display: flex;
        flex-direction: column;
    }
}