/*Стили для подписки в личном кабинете*/
.subContainerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
}
.subContainerWrapper p {
    font-size: 18px;
    font-weight: 500;
}
.subContainerWrapper p:first-child {
    font-size: 20px;
    font-weight: 700;
}
.subDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subDate p:first-child {
    font-size: 18px;
    font-weight: 500;
}
.subDate p:last-child {
    font-weight: 700;
}
.progressBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.progressBar p {
    font-size: 18px;
    font-weight: 700;
}
.subProgressBar {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: #D2D2D2;
}
.actualyProgressBar {
    border-radius: 50px;
    background-color: #2276f4;
    box-shadow: 0 0 10px #2276f4;
}
.subContainerWrapper a {
    width: 100%;
}



@media (max-width: 1440px) {
    .subContainerWrapper p:first-child {
        font-size: 18px;
    }
    .subContainerWrapper a {
        font-size: 16px;
    }
}

@media (max-width: 610px) {
    .subContainerWrapper {
        gap: 10px;
    }
    .subDate {
        display: flex;
        flex-direction: column;
    }
}