.accountTitle {
    font-size: 44px;
    font-weight: 700;
}
.accountContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 400px auto;
    gap: 20px;
}
.gridItem1 {
    grid-column: span 3;
}
.gridItem5 {
    grid-column: span 3;
}

@media (max-width: 1450px) {
    .accountContainer {
        grid-template-columns: 350px 300px auto;
    }
    .accountTitle {
        font-size: 36px;
    }
}

@media (max-width: 1280px) {
    .accountContainer {
        grid-template-columns: auto auto;
    }
    .gridItem1 {
        grid-column: span 2;
    }
    .gridItem4 {
        grid-column: span 2;
    }
    .gridItem5 {
        grid-column: span 2;
    }
}

@media (max-width: 870px) {
    .accountContainer {
        grid-template-columns: auto;
    }
    .gridItem1 {
        grid-column: span 1;
    }
    .gridItem2 {
        grid-column: span 1;
    }
    .gridItem3 {
        grid-column: span 1;
    }
    .gridItem4 {
        grid-column: span 1;
    }
    .gridItem5 {
        grid-column: span 1;
    }
}

@media (max-width: 768px) {
    .accountTitle {
        font-size: 24px;
    }
}