/*Стили для активности пользователя в личном кабинете*/
.activityContainerWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    height: 150px;
}
.activityContainerWrapper p {
    font-size: 20px;
    font-weight: 700;
}


@media (max-width: 1440px) {
    .activityContainerWrapper p {
        font-size: 18px;
    }
}