@media (max-width: 768px) {
    .authContent {
        width: 100%;
        box-shadow: 0 0 0 transparent;
    }
    .authorizationStatusContainer {
        width: 100%;
    }
    .authorizationStatusContainer .statusMessage {
        font-size: .875rem;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .authContent button span {
        font-size: .875rem;
    }
    .autorizationWrapper {
        height: calc(100vh - 40px);
    }
    .authContent {
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .authorizationTitle {
        display: flex;
        flex-direction: column;
    }
    .authorizationTitle p:nth-child(2) {
        display: none;
    }
    .authorizationTitle p:nth-child(3) {
        font-size: 1.25rem;
    }
    .loginContainerForget {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;
        font-size: .875rem;
    }
    .loginContainerForget button span {
        font-size: .875rem;
    }
    .documentsCheck {
        font-size: .875rem;
        gap: 3px;
    }
    .documentsCheck button span {
        font-size: .875rem;
    }
    .authContent input {
        font-size: .875rem;
    }
    .loginContainerDivider,
    .registrationContainerDivider,
    .forgetContainerDivider {
        font-size: .875rem;
    }
}