.autorizationWrapper {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authorizationStatusContainer {
    position: absolute;
    top: 0;
}
.authContent {
    position: absolute;
    transition: transform .4s ease, opacity .4s ease;
    opacity: 0;
    transform: translateY(20px);
    user-select: none;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    background-color: var(--white);
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 5px 10px var(--black-shadow);
    z-index: 0;
}
.authContent.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
}

.authorizationTitle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.authorizationTitle p:nth-child(1) span {
    font-weight: 700;
    color: var(--blue);
}
.authorizationTitle p:nth-child(1) {
    cursor: pointer;
}

.loginContainerInputs,
.registartionContainerInputs,
.forgetContainerInputs,
.resetPasswordInputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginContainerForget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginOrContainer,
.registrationOrContainer,
.forgetOrContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.registrationOrContainer .loaderContainer,
.forgetOrContainer .loaderContainer,
.resetOrContainer .loaderContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.loginContainerDivider,
.registrationContainerDivider,
.forgetContainerDivider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.registrationContainerDocuments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.documentsCheck {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.confirmationEmailWrapper,
.resetPasswordWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: var(--white);
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 5px 10px var(--black-shadow);
}
.emailStatus,
.resetStatus {
    text-align: center;
}

.authorizationStatusContainer {
    transform: translateY(-20px);
    opacity: 0;
    z-index: 9999;
    transition: transform .4s ease, opacity .4s ease;
    width: 600px;
}
.authorizationStatusContainer.visible {
    opacity: 1;
    transform: translateY(0);
}
.authorizationStatusContainer .statusMessage {
    width: 100%;
    border-radius: 10px;
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}
.authorizationStatusContainer .error {
    background-color: var(--bad);
}
.authorizationStatusContainer .success {
    background-color: var(--good);
}