.autorizationWrapper {
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.autorizationContainer {
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .5s ease, transform .5s ease;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.autorizationContainer.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.loginContainer {
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    width: 600px;
    box-shadow: 0 5px 10px var(--black-shadow);
}
.loginContainerInputs,
.registrationContainerInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
}
.loginContainer h2,
.registrationContainer h2 {
    width: 100%;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    color: var(--white);
    text-align: center;
}
.loginContainer h2 span {
    color: var(--blue);
    font-size: 700;
}
.loginContainerImage,
.registrationContainerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}
.loginContainerImage img,
.registrationContainerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.loginContainerImageBlur,
.registrationContainerImageBlur {
    position: absolute;
    background-color: var(--glassmorph-transparent);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
}
.loginContainerBack {
    margin-left: 40px;
}
.forgetContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-right: 20px;
    margin-left: 20px;
}
.registrationContainer {
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    width: 600px;
    box-shadow: 0 5px 10px var(--black-shadow);
}
.partnerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.documentsCheckContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    justify-content: start;
    align-items: start;
}
.documentsCheck {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.orContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dividerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.dividerContainer .hl {
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}



.loginContainerPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    padding: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 9999;
    border-radius: 20px 20px 0 0;
    background-color: var(--bad-transparent);
    backdrop-filter: blur(3px);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .3s ease, transform .3s ease;
}
.loginContainerPopup.popupActive {
    opacity: 1;
    transform: translateY(0);
}
.loginContainerPopup.popupGood {
    background-color: var(--good-transparent);
}