.statusWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.errorStatus {
    color: red;
    font-size: 21px;
}
.successStatus {
    color: green;
    font-size: 21px;
}
