.subscriptionAdvantagesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
.subscriptionAdvantagesContainer .pricingSubContainer,
.subscriptionAdvantagesContainer .pricingSubProContainer {
    width: 100%;
}