.mainContentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#section4 {
    display: none;
}

.advantagesWrapper,
.usesWrapper, 
.subscriptionAdvantagesWrapper,
.partnersWrapper,
.faqWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}