@media (max-width: 1440px) {
    .advantageCard {
        flex: 1 1 calc(40% - 20px);
    }
}

@media (max-width: 1370px) {
    .bannerContainerItem:nth-child(1) {
        justify-content: start;
        gap: 20px;
    }
    .bannerContainerItem:nth-child(1) p:nth-child(2) {
        font-size: 2.25rem;
    }
}

@media (max-width: 1280px) {
    .bannerContainerItem:nth-child(5) {
        padding: 20px;
        justify-content: space-between;
    }
    .bannerItem5Decal1 {
        display: none;
    }
    .usesImageContrainer {
        display: none;
    }
    .usesContainer {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .usesCard {
        width: 100%;
        flex: 1 1 calc(40% - 20px);
    }
    .usesCardIterator {
        top: -13px;
        right: 30px;
    }
}

@media (max-width: 1240px) {
    .bannerContainerItem:nth-child(1) {
        padding: 30px;
        gap: 40px;
    }
    .bannerContainerItem:nth-child(1) p:nth-child(2) {
        font-size: 2rem;
    }
    .bannerItem1Decal {
        display: none;
    }
}

@media (max-width: 1200px) {
    .subscriptionAdvantagesContainer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 1150px) {
    .bannerContainer {
        grid-template-columns: auto auto auto 300px;
    }
    .bannerContainerItem:nth-child(1) {
        grid-column: span 3;
        padding: 40px;
    }
    .bannerContainerItem:nth-child(1) p:nth-child(2) {
        font-size: 2.25rem;
    }
    .bannerContainerItem:nth-child(3) {
        display: none;
    } 
    .bannerContainerItem:nth-child(4) {
        display: none;
    }
    .bannerContainerItem:nth-child(5) {
        grid-column: span 4;
    } 
}

@media (max-width: 1024px) {
    .bannerWrapper {
        padding-top: 150px;
    }
    .bannerContainer {
        grid-template-rows: auto auto;
    }
    .bannerContainerItem:nth-child(1) {
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-column: span 4;
        border: none;
        padding: 0;
    }
    .bannerContainerItem:nth-child(1) p:nth-child(1) {
        font-size: 2.5rem;
    }
    .bannerContainerItem:nth-child(2) {
        display: none;
    }
    .bannerContainerItem:nth-child(5) {
        padding: 0;
        gap: 40px;
        grid-column: span 4;
        border: none;
    }
}

@media (max-width: 768px) {
    .bannerWrapper {
        padding-top: 80px;
        padding-bottom: 0;
    }
    .bannerContainer {
        grid-template-rows: 200px auto;
    }
    .bannerContainerItem:nth-child(1) p:nth-child(1) {
        display: none;
    }
    .advantagesWrapper {
        padding-bottom: 0;
    }
    .advantageCard {
        flex: 1 1 calc(60% - 20px);
    }
    .usesWrapper {
        padding-bottom: 0;
    }
    .usesCard {
        flex: 1 1 calc(60% - 20px);
        padding-left: 20px;
    }
    .subscriptionAdvantagesWrapper {
        padding-bottom: 0;
    }
    .accrodionSummary .accordionTitle span {
        margin-left: 0;
    }
    .faqWrapper {
        padding-bottom: 0;
    }
}

@media (max-width: 630px) {
    .subscriptionAdvantagesContainer .pricingSubscriptionCardName p:first-child {
        font-size: 1.5rem;
    }
    .subscriptionAdvantagesContainer .pricingSubscriptionCardName p:last-child {
        display: none;
    }
    .subscriptionAdvantagesContainer .pricingSubscriptionCardContent {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .subscriptionAdvantagesContainer .pricingSubscriptionCardDescription {
        width: 80%;
    }
}

@media (max-width: 574px) {
    .bannerContainerItem:nth-child(1) p:nth-child(1) {
        font-size: 2rem;
    }
    .bannerContainerItem:nth-child(1) p:nth-child(2) {
        font-size: 2rem;
    }
    .bannerContainerItem:nth-child(5) p {
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .bannerContainerItem:nth-child(1) p:nth-child(2) {
        font-size: 1.5rem;
    }
}