/*Стили для сброса пароля в личном кабинете*/
.userPasswordContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
}
.userPasswordContainer p {
    font-size: 20px;
    font-weight: 700;
}
.changePasswordsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newPasswordContainer,
.oldPasswordContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}