.main_video_section {
    display: none;
}


.main_banner_section {
    height: calc(100vh - 80px);
}

.main_banner_section,
.main_advantages_section,
.main_video_section,
.main_guide_section,
.main_faq_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0 40px 0;
    align-items: center;
}
.main_banner_section h1,
.main_advantages_section h1,
.main_video_section h1,
.main_guide_section h1,
.main_faq_section h1 {
    font-size: var(--fs-4xl);
    font-weight: 500;
    text-align: center;
    width: 70%;
    text-transform: uppercase;
}
.main_banner_section h4,
.main_advantages_section h4,
.main_video_section h4,
.main_guide_section h4,
.main_faq_section h4 {
    font-size: var(--fs-lg);
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    width: 80%;
}




.main_banner_info_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.main_banner_info_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.main_banner_info_item div h2 {
    font-size: var(--fs-5xl);
    font-weight: 500;
    color: var(--accent-color);
}
.main_banner_info_item div p {
    font-size: var(--fs-lg);
    font-weight: 500;
    color: var(--secondary-text-color);
}
.main_banner_info_item p {
    font-size: var(--fs-base);
    color: var(--secondary-text-color);
    text-align: center;
    line-height: 30px;
}
.main_banner_info_divider {
    height: calc(100% + 20px);
    width: 2px;
    background-color: var(--secondary-text-color);
    transform: rotate(10deg);
}
.main_banner_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
    width: 100%;
}



.main_video_container {
    width: 100%;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0 16px 40px var(--shadow-color);
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}
.main_video_container_vertical {
    display: none;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 9 / 16;
    margin: 0 auto;
    background-color: gray;
    box-shadow: 0 16px 40px var(--shadow-color);
    border-radius: 20px;
}



.main_advantages_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_advantages_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 1620px;
    padding-top: 75px;
}
.main_advantages_item {
    border-radius: 40px;
    background-color: var(--primary-color);
    box-shadow: 0 16px 40px var(--shadow-color);
    padding: 40px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main_advantages_item:nth-child(1),
.main_advantages_item:nth-child(5) {
    width: 260px;
    height: 320px;
}
.main_advantages_item:nth-child(2),
.main_advantages_item:nth-child(4) {
    width: 300px;
    height: 360px;
}
.main_advantages_item:nth-child(3) {
    width: 340px;
    height: 400px;
}
.main_advantages_item p {
    font-size: var(--fs-base);
    font-weight: 500;
    text-align: center;
    color: var(--secondary-text-color);
}
.main_advantages_item:nth-child(1) img,
.main_advantages_item:nth-child(5) img {
    width: 90px;
    height: 90px;
}
.main_advantages_item:nth-child(2) img,
.main_advantages_item:nth-child(4) img {
    width: 110px;
    height: 110px;
}
.main_advantages_variants_count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    width: 100%;
}
.main_advantages_variants_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.main_advantages_variants_item img {
    width: 40px;
    height: 40px;
}
.main_advantages_variants_item .advantage_counter {
    font-size: var(--fs-5xl);
    color: var(--accent-color);
    font-weight: 600;
}
.main_advantages_likes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_advantages_likes_container p {
    font-size: var(--fs-base);
    font-weight: 500;
}



.main_guide_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 75px;
}
.main_guide_item {
    flex: 1 1 45%;
    background-color: var(--primary-color);
    box-shadow: 0 16px 40px var(--shadow-color);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 40px;
}
.main_guide_item h2 {
    font-size: var(--fs-6xl);
    color: var(--accent-color);
    font-weight: 300;
    line-height: 60px;
    min-width: 105px;
}
.main_guide_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--secondary-text-color);
}
.main_guid_title {
    font-size: var(--fs-lg);
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 500;
}
.main_guide_text p:last-child {
    font-size: var(--fs-base);
}



.main_accordion_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 75px;
    width: 100%;
}