@media (max-width: 1700px) {
    /*Медиа к контенту преимуществ (<= 1700px)*/
    .main_advantages_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 1440px;
    }
    .main_advantages_item {
        flex: 0 0 30%;
    }
    .main_advantages_item:nth-child(1) {
        order: 4;
    }
}

@media (max-width: 1480px) {
    /*Медиа к заголовкам секций (<= 1480px)*/
    .main_page_wrapper section h1 {
        font-size: var(--fs-4xl);
    }
    .main_page_wrapper section h4 {
        font-size: var(--fs-lg);
    }

    /*Медиа к контенту баннера (<= 1480px)*/
    .main_page_wrapper .main_banner_info_item h1 {
        font-size: var(--fs-5xl);
        line-height: 40px;
    }
    .main_page_wrapper .main_banner_info_item h4 {
        font-size: var(--fs-base);
    }
    .main_page_wrapper  .main_banner_info_item p {
        font-size: var(--fs-base);
        padding-top: 20px;
    }

    .main_advantages_container {
        width: auto;
    }

    /*Медиа к контенту гайда (<= 1480px)*/
    .main_guide_item {
        padding: 30px;
        gap: 10px;
    }
    .main_guid_title {
        font-size: var(--fs-base);
    }
    .main_guide_text p:last-child {
        font-size: var(--fs-sm);
    }
}

@media (max-width: 1340px) {
    /*Медиа к заголовкам секций (<= 1340px)*/
    .main_page_wrapper section h4 {
        font-size: var(--fs-lg);
        line-height: 25px;
    }

    /*Медиа к контенту баннера (<= 1340px)*/
    .main_banner_info_container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
    }
    .main_banner_info_item  {
        flex: 0 0 40%;
    }
    .main_banner_info_divider {
        display: none;
    }

    /*Медиа к контенту гайда (<= 1340px)*/
    .main_guide_item {
        gap: 0;
        align-items: center;
    }
    .main_guide_item h1 {
        font-size: var(--fs-5xl) !important;
        padding-right: 0;
        min-width: 80px;
        line-height: 50px;
    }
}

@media (max-width: 1240px) {
    /*Медиа к контенту преимуществ (<= 1240px)*/
    .main_advantages_container {
        width: auto;
    }
    .main_advantages_item {
        flex: 0 1 40%;
        height: 340px !important;
    }
    .main_advantages_item:nth-child(1) {
        order: 4;
    }
    .main_advantages_item img {
        width: 100px !important;
        height: 100px !important;
    }
    .main_advantages_variants_item img {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (max-width: 1190px) {
    /*Медиа к контенту гайда (<= 1190px)*/
    .main_guide_item  {
        flex: 1 1 100%;
    }
    .main_guide_text {
        justify-content: space-between;
    }
}

@media (max-width: 1060px) {
    /*Медиа к заголовкам секций (<= 1060px)*/
    .main_page_wrapper section:first-child {
        padding-top: 60px;
    }
    .main_page_wrapper section:not(:first-child) {
        padding-top: 100px;
    }
    .main_advantages_section {
        padding-top: 60px !important;
    }

    /*Медиа к контенту баннера (<= 1060px)*/
    .main_banner_info_container {
        gap: 40px;
    }
    .main_banner_subtitle {
        font-size: var(--fs-sm) !important;
    }
    .main_banner_info_item  {
        flex: 0 0 100%;
        max-width: 500px;
    }
    .main_page_wrapper .main_banner_info_item h1 {
        font-size: var(--fs-4xl);
        line-height: 40px;
    }
    .main_page_wrapper .main_banner_info_item h4 {
        font-size: var(--fs-sm);
    }
    .main_page_wrapper  .main_banner_info_item p {
        font-size: var(--fs-sm);
    }

    /*Медиа к контенту преимуществ (<= 1060px)*/
    .main_advantages_item {
        padding: 30px;
    }
    .main_advantages_item p {
        font-size: var(--fs-sm);
    }
    .main_advantages_variants_item .advantage_counter {
        font-size: var(--fs-4xl);
        font-weight: 600;
    }
    .main_advantages_likes_container p {
        font-size: var(--fs-sm);
        line-height: 10px;
    }
}

@media (max-width: 996px) {
    /*Медиа к заголовкам секций (<= 996px)*/
    .main_page_wrapper section {
        padding-top: 60px;
    }
    .main_page_wrapper section h1 {
        font-size: var(--fs-3xl);
    }
    .main_page_wrapper section h4 {
        font-size: var(--fs-base);
        line-height: 25px;
    }

    /*Медиа к контенту баннера (<= 996px)*/
    .main_page_wrapper .main_banner_info_item h1 {
        font-size: var(--fs-4xl);
        line-height: 40px;
    }
    .main_page_wrapper .main_banner_info_item h4 {
        font-size: var(--fs-sm);
    }
    .main_page_wrapper  .main_banner_info_item p {
        font-size: var(--fs-sm);
    }
    .main_banner_buttons {
        gap: 30px;
    }

    /*Медиа к контенту видео (<= 996px)*/
    .main_video_contaner {
        padding-top: 40px;
    }

    /*Медиа к контенту преимуществ (<= 996px)*/
    .main_advantages_container {
        padding-top: 40px;
    }

    /*Медиа к контенту гайда (<= 996px)*/
    .main_guide_container {
        padding-top: 40px;
    }
    .main_guid_title {
        font-size: var(--fs-sm);
    }

    /*Медиа к контенту FAQ (<= 996px)*/
    .main_accordion_container {
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    /*Медиа к заголовкам секций (<= 768px)*/
    .main_page_wrapper section h1 {
        font-size: var(--fs-2xl);
    }
    
    .main_page_wrapper  .main_banner_info_item p {
        padding-top: 0;
    }

    /*Медиа к контенту преимуществ (<= 768px)*/
    .main_advantages_item {
        flex: 0 1 100%;
        width: auto ;
    }
    .main_advantages_item:nth-child(1) {
        order: 0;
    }

    /*Медиа к контенту видео (<= 768px)*/
    .main_video_contaner {
        padding-top: 20px;
    }

    /*Медиа к контенту преимуществ (<= 768px)*/
    .main_advantages_container {
        padding-top: 20px;
    }

    /*Медиа к контенту гайда (<= 768px)*/
    .main_guide_container {
        padding-top: 20px;
    }

    /*Медиа к контенту FAQ (<= 768px)*/
    .main_accordion_container {
        padding-top: 20px;
    }
}

@media (max-width: 640px) {
    .main_banner_info_item  {
        flex: 0 0 100%;
        max-width: auto;
    }
    .main_banner_subtitle {
        display: none;
    }
}