.accountResultGrid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 120px 370px auto;
    gap: 20px;
}
.gridItem6 {
    grid-column: span 1;
    grid-row: span 2;
}
.gridItem7 {
    grid-column: span 1;
}
.gridItem8 {
    grid-column: span 1;
    grid-row: span 1;
}
.gridItem9 {
    grid-column: span 2;
    grid-row: span 1;
}