.viewerContainerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 600px;
}

@media (max-width: 1440px) { 
    .viewerContainerWrapper {
        height: 620px;
    }
}

@media (max-width: 1024px) { 
    .viewerContainerWrapper {
        height: 600px;
    }
}