.viewerContainerWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.taskContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.taskContent p {
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
}
.taskContent p span {
    color: #2276F4;
    font-weight: 700;
}