.resultTitle {
    font-size: 44px;
    font-weight: 700;
}
.resultContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 120px auto 420px;
    gap: 20px;
}
.gridItem6 {
    grid-row: span 3 ;
}

@media (max-width: 1440px) {
    .resultContainer {
        grid-template-columns: 250px auto;
    }
    .resultTitle {
        font-size: 36px;
    }
}

@media (max-width: 1256px) {
    .resultContainer {
        grid-template-columns: 200px auto;
    }
}

@media (max-width: 1024px) {
    .resultContainer {
        grid-template-columns: auto;
        overflow: hidden;
    }
    .gridItem6 {
        grid-row: span 1;
    }
}

@media (max-width: 768px) {
    .resultTitle {
        font-size: 24px;
    }
}