.variantsContainerWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .variantsContainerWrapper {
        flex-direction: row;
        justify-content: start;
        overflow-x: auto;
        width: 100%;
    }
}