.microPerfomanceContent {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-radius: 20px;
}
.microPerfomanceContent p {
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    line-height: 30px;
    user-select: none;
}
.microPerfomanceContent p:first-child {
    font-weight: 500;
    font-size: 1rem;
}
.microNotFound, .microRecord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.microPerfomanceStatusIcon {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.microIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.microOff {
    background-color: var(--bad);
    box-shadow: 0 0 10px var(--bad);
    cursor: pointer;
}
.microOn {
    background-color: var(--good);
    box-shadow: 0 0 10px var(--good);
    cursor: pointer;
}
.microIconSvg {
    fill: var(--white);
    width: 80px;
    height: 80px;
}
.microRecord input {
    display: none;
}
.microAnim {
    animation: microPulse 1.5s infinite;
}
audio {
    width: 500px;
    height: 40px;
}
.microActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
@keyframes microPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(6, 214, 160, .4);
        transform: scale3d(1, 1, 1);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(6, 214, 160, 0);
        transform: scale3d(.95, .95, .95);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(6, 214, 160, 0);
        transform: scale3d(1, 1, 1);
    }
}