.headerFixedContainer {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
    max-width: 1440px;
    max-height: 80px;
    width: calc(100% - 80px);
	z-index: 9999;
    transition: all .2s ease;
}
.headerWrapper {
    position: sticky;
    top: 20px;
    background-color: var(--white);
    box-shadow: 0 5px 10px var(--black-shadow);
    border-radius: 20px;
    max-height: 80px;
    padding: 20px;
    z-index: 9999;
    transition: all .2s ease;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 10;
}
.headerLogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerLogoContainer p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}
.headerBurgerContainer input[type="checkbox"] {
    display: none;
}
.headerBurgerContainer {
    display: none;
}
.headerBurgerContainer nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--black-shadow);
    opacity: 0;
    top: -500px;
    margin-left: -20px;
    border-radius: 20px;
    padding: 30px;
    transition: all .5s ease;
}
.headerUnauthNavbarContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.headerAuthNavbarContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 30px;
    justify-content: start;
    align-items: center;
    left: 0;
}
.headerCollapseContainer input[type="checkbox"] {
    display: none;
}
.headerCollapseContainer nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--black-shadow);
    opacity: 0;
    top: -100px;
    border-radius: 20px;
    padding: 30px;
    transition: all .5s ease;
}
.headerOptionsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.optionsLoginContainer button:nth-child(2) {
    display: none;
}
.headerAuthNavbarImportantContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.headerBurgerContainer input:checked ~ nav {
    top: 100px;
    opacity: 1;
}
.headerCollapseContainer input:checked ~ nav {
    top: 100px;
    opacity: 1;
}
.headerWrapper:hover {
    box-shadow: 0 10px 20px var(--black-shadow);
    transform: translateY(-1px);
}