.headerOptionsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.optionsLoginContainer a:nth-child(2) {
    display: none;
}