/*Стили для шапки сайта*/
.headerWrapper {
    position: sticky;
    top: 0;
    background-color: var(--header-bg-cl);
    box-shadow: 0 2px 10px var(--header-shadow-cl);
    border-radius: 10px;
    max-height: 80px;
    width: 100%;
    padding: 20px;
    z-index: 999;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: 40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 999;
}

/*Кнопки навигации*/
nav a {
    color: var(--nav-link-cl);
    border-bottom: 1px solid transparent;
    transition: all .1s ease;
    font-size: 18px;
    font-weight: 500;
}
nav a:hover {
    color: var(--nav-link-hover-cl);
    border-bottom: 1px solid var(--nav-link-hover-cl);
}

/*Лого*/
.headerLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLogo p {
    font-size: 36px;
    font-weight: 700;
}

/*Навигация для авторизованных*/
.authHeaderNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.authHeaderNav nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/*Навигация для неавторизованных*/
.unAuthHeaderNav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Бургер*/
.navBurger input[type="checkbox"] {
    display: none;
}
.navBurger nav {
    position: fixed;
    top: -500px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    background-color: var(--header-bg-cl);
    box-shadow: 0 2px 10px var(--header-shadow-cl);
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    transition: all .4s ease;
}
.navBurger input[type="checkbox"]:checked ~ nav {
    top: 140px;
    opacity: 1;
}

/*Коллапс*/
.collapseMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.collapseMenu input[type="checkbox"] {
    display: none;
}
.collapseMenu label {
    width: 100px;
}
.collapseMenu nav {
    position: fixed;
    top: -100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: var(--header-bg-cl);
    box-shadow: 0 2px 10px var(--header-shadow-cl);
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    transition: all .4s ease;
}
.collapseMenu input[type="checkbox"]:checked ~ nav {
    top: 140px;
    opacity: 1;
}

/*Опции*/
.headerOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divider {
    height: 50px;
    border-left: 1px solid var(--divider-cl);
}

.optionsTokens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.optionsTokens a {
    width: 100px;
}

.optionsUsername a {
    font-size: 18px;
    font-weight: 500;
    color: var(--nav-link-cl);
    border-bottom: 1px solid transparent;
    transition: all .1s ease;
}

.optionsUsername a:hover {
    color: var(--nav-link-hover-cl);
    border-bottom: 1px solid var(--nav-link-hover-cl);
}

.optionsLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.optionsLogin a:first-child {
    width: 150px;
}

.optionsLogin a:last-child {
    display: none;
}


/*Медиа для 1360 пикселей*/
@media (max-width: 1360px) {
    .optionsLogin a:first-child {
        width: 100px;
        font-size: 16px;
    }
    nav a {
        font-size: 16px;
    }
    .optionsTokens a {
        width: 90px;
        font-size: 16px;
    }
    .optionsTokens a .svgIcon {
        transform: scale(90%);
    }
}

/*Медиа для 1230 пикселей*/
@media (max-width: 1230px) {
    .unAuthHeaderNav {
        display: none !important;
    }
    .navBurger {
        display: flex !important;
    }
    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .authHeaderNav {
        display: none !important;
    }
    .divider {
        display: none;
    }
    .optionsUsername a {
        font-size: 16px !important;
    }
    .headerLogo p {
        font-size: 30px;
    }
}

/*Медиа для 768 пикселей*/
@media (max-width: 768px) {
    .optionsLogin a:first-child {
        display: none;
    }
    .optionsLogin a:last-child {
        display: flex;
    }
    .headerLogo p {
        font-size: 30px;
    }
    .optionsTokens {
        display: none;
    }
    .optionsUsername {
        display: none;
    }
}