/*Стили для шапки сайта*/
.headerWrapper {
    position: sticky;
    top: 0;
    margin-top: 40px;
    background-color: var(--header-bg-cl);
    box-shadow: 0 2px 10px var(--header-shadow-cl);
    border-radius: 10px;
    max-height: 80px;
    width: 100%;
    padding: 20px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: 40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 38px;
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav a {
    color: var(--nav-link-cl);
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: all .1s ease;
}

.nav a:hover {
    color: var(--nav-link-hover-cl);
    border-bottom: 1px solid var(--nav-link-hover-cl);
}

.authNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.collapseAuthNav {
    position: fixed;
    top: -140px;
    left: 115px;
    align-items: center;
    display: none;
    flex-direction: row;
    background-color: var(--header-bg-cl);
    box-shadow: 0 2px 10px var(--header-shadow-cl);
    border-radius: 10px;
    padding: 20px;
}

.collapseNav {
    position: fixed;
    top: 140px;
    left: -300px;
    align-items: end;
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg-cl);
    box-shadow: 0 2px 10px var(--header-shadow-cl);
    border-radius: 10px;
    padding: 20px;
}

.menuHidden {
    display: none;
}

.menuVisible {
    display: flex;
}

.accWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.divider {
    border-right: 1px solid var(--divider-cl);
    height: 50px;
}

.tokenBtn {
    display: flex;
    flex-direction: row;
    width: 120px;
}

.userName {
    font-size: 18px;
    font-weight: 500;
}

.logoutBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Медиа для 1380 пикселей*/
@media (max-width: 1380px) {
    .loginBtn {
        width: 100px !important;
        font-size: 16px !important;
    }
    .nav a {
        font-size: 16px !important;
    }
}

/*Медиа для 1230 пикселей*/
@media (max-width: 1230px) {
    .nav {
        display: none;
    }
    .hiddenNavBurger {
        display: flex !important;
        order: -1;
    }
    .divider {
        display: none !important;
    }
    .authNav {
        display: none !important;
    }
    .navMenuBurger {
        display: none !important;
    }
    .tokenBtn {
        font-size: 16px !important;
        width: 90px !important;
    }
    .tokenBtn .svgIcon {
        transform: scale(90%) !important;
    }
    .userName {
        font-size: 16px !important;
    }
}

/*Медиа для 768 пикселей*/
@media (max-width: 768px) {
    .tokenBtn {
        display: none !important;
    }
    .userName {
        display: none !important;
    }
}

/*Медиа для 573 пикселей*/
@media (max-width: 573px) {
    .logo {
        font-size: 30px !important;
    }
    .loginBtn {
        display: none !important;
    }
    .hiddenLoginBtn {
        display: flex !important;
    }
}