.taskViewerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
}

.taskViewerEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
}

.taskIterator {
    font-weight: 600;
    font-size: 16px;
    color: var(--blue);
    margin-bottom: 10px;
}