.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
    min-width: 40px;
    min-height: 40px;
    background-color: var(--blue);
    box-shadow: 0 0 5px var(--blue);
    border-radius: .625rem;
    user-select: none;
    transition: all .2s ease;
}
.button span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    transition: all .2s ease;
}
.button .svgIcon {
    fill: var(--white);
}
.button:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 5px var(--yellow);
    color: var(--black);
    cursor: pointer;
}
.button:hover span {
    color: var(--black);
}
.button:hover .svgIcon {
    fill: var(--black);
}


.copyPopup {
    position: absolute;
    background-color: var(--glassmorph-transparent);
    color: var(--white);
    backdrop-filter: blur(3px);
    padding: 5px 10px;
    border-radius: 10px;
    pointer-events: none;
    transform: translate(-50%, -100%);
    font-size: 1rem;
}



.link {
    min-height: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    transition: all .2s ease;
}
.link span {
    border-bottom: 1px solid transparent;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    transition: all .2s ease;
}
.link:hover {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}
.link:hover span {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}



.admin {
    padding: 0;
    background-color: var(--emphasis);
    box-shadow: 0 0 5px var(--emphasis);
}
.partner {
    padding: 0;
    background-color: var(--emphasis);
    box-shadow: 0 0 5px var(--emphasis);
}



.alt {
    padding: 0;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--white);
    transition: all .2s ease;
}
.alt span {
    color: var(--black);
    transition: all .2s ease;
}
.alt .svgIcon {
    fill: var(--black);
    transition: all .2s ease;
}


.bad {
    background-color: var(--bad);
    box-shadow: 0 0 5px var(--bad);
    transition: all .2s ease;
}
.bad span {
    color: var(--white);
    transition: all .2s ease;
}
.bad .svgIcon {
    fill: var(--white);
    transition: all .2s ease;
}



.good {
    background-color: var(--good);
    box-shadow: 0 0 5px var(--good);
    transition: all .2s ease;
}
.good span {
    color: var(--white);
    transition: all .2s ease;
}
.good .svgIcon {
    fill: var(--white);
    transition: all .2s ease;
}



.block {
    background-color: var(--gray);
    box-shadow: 0 0 0 transparent;
    pointer-events: none !important;
}
.block span {
    color: var(--black);
}
.block .svgIcon {
    fill: var(--black);
}



.ghost {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}
.ghost span {
    color: var(--blue);
}
.ghost .svgIcon {
    fill: var(--blue);
}



.outline {
    background-color: transparent;
    border: 2px solid var(--blue);
    box-shadow: 0 0 0 transparent;
}
.outline span {
    color: var(--blue);
}
.outline .svgIcon {
    fill: var(--blue);
}
.outline:hover {
    border: 2px solid var(--yellow);
}

.protocol {
    position: absolute;
    right: 0;
}