.pricingWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}
.pricingGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 300px 100px 300px;
    gap: 20px;
}
.pricingGridItem1 {
    grid-column: span 2;
}
.pricingGridItem2 {
    grid-column: span 1;
}
.pricingGridItem3 {
    grid-column: span 1;
}
.pricingGridItem4 {
    grid-column: span 2;
}
.pricingGridItem5 {
    grid-column: span 2;
}



.pricngSubscriptionCardContainer {
    display: flex;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pricingSubscriptionCardContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.pricingSubscriptionCardContent p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}
.pricingSubscriptionCardContent p:nth-child(2) {
    font-size: 1rem;
}
.pricingSubscriptionCardDescription {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 30px;
}
.contentSwapBorder {
    order: 2;
}
.cardDescriptionItem {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cardDescriptionItem p {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.cardDescriptionBorder {
    display: flex;
    min-width: 3px;
    min-height: 100%;
    background-color: var(--white);
    border-radius: 50px;
}
.pricingSubscriptionOptions {
    position: absolute;
    bottom: 0;
}
.subscriptionOptionsEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--white);
    user-select: none;
}
.subscriptionOptionsEmpty p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}
.subscriptionOptions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contentSwapName {
    order: 2;
}
.contentSwapName p {
    text-align: end;
}
.contentSwapDescription {
    order: 1;
    text-align: end;
}
.contentSwapOptions {
    right: 0;
}



.pricngBalanceCardContainer {
    display: flex;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pricingBalanceGridItemLast {
    grid-column: span 2;
}
.pricingBalanceCardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.pricingBalanceCardPrices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
}
.cardPriceContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
    background-color: var(--glassmorph-transparent);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px var(--black);
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
    transition: all .2s ease;
}
.cardPrice {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
    transition: top .2s ease;
    top: 45px;
    user-select: none;
}
.cardOptions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    display: none;
    opacity: 0;
}
.cardButton {
    width: 100%;
    display: none;
    opacity: 0;
}
.cardPriceContainer:hover > .cardPrice {
    top: 20px;
}
.cardPriceContainer:hover > .cardButton,
.cardPriceContainer:hover > .cardOptions {
    display: flex;
    opacity: 0;
    animation: buttonKeys .2s ease .2s 1 normal forwards;
}
.pricingBalanceCardDescription {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    width: 40%;
}

@keyframes buttonKeys {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}