.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-radius: 20px;
  height: 100px;
  padding: 20px;
  gap: 20px;
}
.statistics-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.common-statistics {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
span {
  color: black;
  font-weight: 600;
}
