.adminHintContainer {
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    min-width: 400px;
    width: 400px;
    max-height: calc(100vh - 360px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.adminHintTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adminHintContainer p {
    font-size: 18px;
    font-weight: 600;
}

.adminHintWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.adminHintWrapper::-webkit-scrollbar {
    display: none;
}

.adminTextHintContainer  {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray);
}

.adminTextHintContainer:last-child {
    border: 0px;
}

.adminTextHintContainer p {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    text-align: start;
}

.adminHintNumber {
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminHintNumber p {
    font-weight: 600;
}

.adminHintWarningTape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 0 0 20px 20px
}