.sectioFooterWrapper {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footerContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.footerColumn:first-child {
    align-items: start;
    width: 70%;
}
.footerColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 5px;
}
.footerColumn p:first-child {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 10px;
}
.footerColumn p {
    font-size: 1rem;
    font-weight: 400;
    column-rule: var(--black);
}
.footerLogo p {
    font-size: 2rem !important;
    font-weight: 600;
    color: var(--black);
}
.footerLogo p span {
    color: var(--blue);
    font-weight: 700;
}
.footerButtonLink span {
    font-weight: 400 !important;
}
.footerContact p span {
    color: var(--blue);
    font-weight: 600;
}
.footerSocials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footerSocials a .svgIcon {
    color: var(--black);
    transition: all .2s ease;
    width: 30px;
    height: 30px;
}
.footerSocials a:hover .svgIcon {
    color: var(--blue);
}
.footerBottomDivider {
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}
.footerDocuments {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footerDocuments a {
    font-size: .825rem;
    font-weight: 400;
    color: var(--black);
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: all .2s ease;
}
.footerDocuments a:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    cursor: pointer;
}
.footerCred {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    font-size: .875rem;
    font-weight: 400;
}