.header_fixed {
    position: sticky;
    z-index: 100;
    top: 20px;
    box-shadow: 0 16px 40px var(--shadow-color);
    max-width: 1440px;
    max-height: 60px;
    margin: 0 auto;
    padding: 10px 10px 10px 30px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .3s ease;
}

.header_dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--primary-color);
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 16px 40px var(--shadow-color);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-400px);
    transition: all .5s ease;
}
.header_dropdown button {
    width: 100%;
    justify-content: right;
}
.header_dropdown_open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.dropdown_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: transparent;
}
.header_fixed:hover {
    box-shadow: 0 30px 40px var(--shadow-color);
}
.header_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.header_logo p {
    font-size: var(--fs-2xl);
    font-weight: 500;
}
.header_logo p span {
    font-size: var(--font-large-xx);
    font-weight: 600;
    color: var(--accent-color);
}
.header_desktop_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}
.header_desktop_buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header_mobile_nav,
.header_mobile_buttons {
    display: none;
}