* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --background: #e8f4ff;
    --blue: #2276f4;
    --yellow: #fdce26;
    --gray: #adadad;
    --emphasis: #f6705e;
    --badge: #079366;
    --good: #06d6a0;
    --warn: #ffd166;
    --bad: #ef476f;
    --glassmorph-transparent: rgba(0, 0, 0, .5);
    --black-shadow: rgba(0, 0, 0, .25);
}

.pageWrapper {
  margin: 20px;
}

.sectionWrapper {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--background);
}

.contentWrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.titleContainer {
  width: 100%;
  height: 100px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.titleContainer p {
  font-size: 36px;
  margin-left: 40px;
  font-weight: 500;
}

.titleContainer p span {
  font-weight: 700;
  color: var(--emphasis);
}


/*Стили для всевозможных вариантов кнопок*/
.defBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
    color: var(--white);
    min-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .1s ease;
}
.altBtn {
    background-color: var(--white);
    box-shadow: 0 0 10px var(--white);
    color: var(--black);
}
.switchBtn span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.switchBtn span:last-child {
    color: var(--black);
    display: none;
}
.doneBtn {
    background-color: var(--good);
    box-shadow: 0 0 10px var(--good);
    color: var(--white);
}
.cancelBtn {
    background-color: var(--bad);
    box-shadow: 0 0 10px var(--bad);
    color: var(--white);
}
.blockBtn {
    background-color: var(--gray);
    box-shadow: 0 0 10px var(--gray);
    color: var(--white);
    pointer-events: none;
}

.ghostBtn {
    background-color: transparent;
    color: var(--blue);
    box-shadow: 0 0 0 transparent;
}
.adminBtn {
    background-color: var(--emphasis);
    box-shadow: 0 0 10px var(--emphasis);
}
.deleteBtn {
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
	transition: all .1s ease;
}
.defBtnSvg {
    fill: var(--white);
    transition: all .1s ease;
}
.altBtnSvg {
    fill: var(--black);
}
.ghostBtnSvg {
    fill: var(--blue);
}
.deleteBtnSvg {
	fill: var(--black);
	transition: all .1s ease;
}
.deleteBtnSvg {
  fill: var(--black);
}
.defBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.defBtn:hover .defBtnSvg {
    fill: var(--black);
}
.switchBtn:hover span:first-child,
.switchBtn:hover div:first-child {
    display: none;
}
.switchBtn:hover span:last-child {
    display: flex;
}
.linkBtn:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}
.deleteBtn:hover {
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
}
.deleteBtn:hover > .deleteBtnSvg {
	fill: var(--bad);
}
/*------------------------*/


/*Стили для поля ввода*/
.defInpContainer {
    position: relative;
    min-height: 40px;
    height: 40px;
    width: 100%;
}
.defInpContainer .defInp {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--gray);
    transition: all .1s ease;
}
.defInpContainer .defInp:focus,
.defInpContainer .defInp:valid {
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px var(--blue);
}
/*------------------------*/

/*Стили для индикатора силы пароля*/
.psdStrength {
    position: absolute;
    min-width: 10px;
    min-height: 20px;
    width: 10px;
    height: 20px;
    background-color: transparent;
    border-radius: 3px;
    z-index: 2;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: all .3s ease;
}
.defInpContainer .defInp:valid + .psdStrength {
    opacity: 1;
}
.psdStrong {
    background-color: var(--good);
    box-shadow: 0 0 5px var(--good);
}
.psdMiddle {
    background-color: var(--warn);
    box-shadow: 0 0 5px var(--warn);
}
.psdWeak {
    background-color: var(--bad);
    box-shadow: 0 0 5px var(--bad);
}
/*------------------------*/

/*Стили для textarea*/
.defInpContainer .defTextArea {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--gray);
    resize: none;
    transition: all .2s ease;
}

.defInpContainer .defTextArea:focus,
.defInpContainer .defTextArea:valid {
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px var(--blue);
}
/*------------------------*/

.defInpFileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
	  align-items: center;
    gap: 10px;
}

.defInpFileContainer input {
	display: none;
}

.defInpFileContainer p {
    max-width: 200px;
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-left: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.radioContainer {
  display: flex;
  width: 100%;
  height: 100%;
}
.buttonContainer input[type="radio"] {
  display: none;
}
.buttonContainer .radioContainer label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2276F4;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px #2276F4;
  transition: all .1s ease;
}
.buttonContainer .radioContainer label:hover {
  background-color: #FDCE26;
  box-shadow: 0 0 10px #FDCE26;
  color: black;
}
.buttonContainer .radioContainer input[type="radio"]:checked ~ label {
  background-color: #FDCE26;
  box-shadow: 0 0 10px #FDCE26;
  color: black;
}


@media (max-width: 425px) {
  .pageWrapper {
    margin: 0;
  }
}