* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --temp-bg-cl: #E8F4FF;

	--header-bg-cl: #ffffff;
	--header-shadow-cl: rgba(0, 0, 0, .25);

	--nav-link-cl: #000000;
	--nav-link-hover-cl: #2276F4;

	--btn-bg-cl: #2276F4;
	--btn-text-cl: #ffffff;
	--btn-hover-cl: #FDCE26;
	--btn-text-hover-cl: #000000;

	--divider-cl: #808080;
}

.btn {
	display: flex;
	flex-direction: row;
	gap: 5px;
	background-color: var(--btn-bg-cl);
	color: var(--btn-text-cl);
	box-shadow: 0 0 10px var(--btn-bg-cl);
	height: 40px;
	width: 40px;
	border-radius: 7px;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: all .1s ease;
}
.btn .svgIcon {
	fill: var(--btn-text-cl);
	transition: all .1s ease;
}
.btn:hover {
    background-color: var(--btn-hover-cl);
    color: var(--btn-text-hover-cl);
    box-shadow: 0 0 10px var(--btn-hover-cl);
}
.btn:hover .svgIcon {
	fill: var(--btn-text-hover-cl);
}

.inputContainer {
  position: relative;
  width: 100%;
  max-height: 40px;
  height: 40px;
}
.passwordStrength {
  position: absolute;
  width: 10px;
  height: 20px;
  border-radius: 4px;
  background-color: red;
  z-index: 3;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: all .1s ease;
}
.inputContainer input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  font-size: 16px;
  outline: none;
  border-radius: 7px;
  border: 1px solid #ADADAD;
  transition: all .3s ease-in-out;
}
.inputContainer input:focus,
.inputContainer input:valid {
  border: 1px solid #2276F4;
  box-shadow: 0 0 10px #2276F4;
}
.inputContainer input:focus + .passwordStrength,
.inputContainer input:valid + .passwordStrength {
  opacity: 1;
}







.pageWrapper {
  margin: 20px;
  border-radius: 20px;
  background-color: var(--temp-bg-cl);
  padding: 20px;
}

.contentWrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
