* {
	margin: 0;
	padding: 0;
	padding-block: 0px;
	padding-inline: 0px;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
}

.content_wrapper {
	margin: 0 auto;
	max-width: 1440px;
}

:root {
	--fs-xs: 0.75rem;     /* 12px */
	--fs-sm: 0.875rem;    /* 14px */
	--fs-base: 1rem;      /* 16px */
	--fs-lg: 1.125rem;    /* 18px */
	--fs-xl: 1.25rem;     /* 20px */
	--fs-2xl: 1.5rem;     /* 24px */
	--fs-3xl: 1.875rem;   /* 30px */
	--fs-4xl: 2.25rem;    /* 36px */
	--fs-5xl: 3rem;       /* 48px */
	--fs-6xl: 4.75rem;    /* 76px */
}







/*Стили для поля ввода*/
.defInpContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	min-height: 40px;
	width: 100%;
}
.defInpContainer p {
	font-size: 16px !important;
	font-weight: 500 !important;
}
.defInpContainer .defInp {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	height: 40px;
	width: 100%;
	outline: none;
	border-radius: 10px;
	border: 1px solid var(--gray);
	transition: all .1s ease;
}
.defInpContainer .defInp:focus,
.defInpContainer .defInp:valid {
	border: 1px solid var(--blue);
	box-shadow: 0 0 10px var(--blue);
}
/*------------------------*/


/*Стили для textarea*/
.defInpContainer .defTextArea {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 10px;
	border: 1px solid var(--gray);
	resize: none;
	transition: all .2s ease;
}

.defInpContainer .defTextArea:focus,
.defInpContainer .defTextArea:valid {
	border: 1px solid var(--blue);
	box-shadow: 0 0 10px var(--blue);
}
/*------------------------*/

/*Стили для инпутов для файлов*/
.defInpFileContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.defInpFileContainer input {
	display: none;
}

.defInpFileContainer p {
	max-width: 200px;
	font-size: 16px !important;
	font-weight: 500 !important;
	margin-left: 0 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*------------------------*/

/*Стили для dropdown*/
.defDDContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    height: 40px;
    width: 100%;
}
.defDDContainer .defDD {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    color: var(--black);
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*------------------------*/

/*Стили для checkbox*/

/*------------------------*/