.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    min-height: 40px;
    min-width: 10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.linkBtn {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: all .1s ease;
}
.linkBtn:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}



.defaultBtn {
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
    color: var(--white);
    transition: all .1s ease;
}
.defaultBtn .defaultBtnSvg {
    fill: var(--white);
    transition: all .1s ease;
}
.defaultBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.defaultBtn:hover .defaultBtnSvg {
    fill: var(--black);
}



.whiteBtn {
    background-color: var(--white);
    box-shadow: 0 0 10px var(--white);
    color: var(--black);
    transition: all .1s ease;
}
.whiteBtn .whiteBtnSvg {
    fill: var(--black);
    transition: all .1s ease;
}
.whiteBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.whiteBtn:hover .whiteBtnSvg {
    fill: var(--black);
}




.greenBtn {
    background-color: var(--good);
    box-shadow: 0 0 10px var(--good);
    color: var(--white);
    transition: all .1s ease;
}
.greenBtn .greenBtnSvg {
    fill: var(--white);
    transition: all .1s ease;
}
.greenBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.greenBtn:hover .greenBtnSvg {
    fill: var(--black);
}



.redBtn {
    background-color: var(--bad);
    box-shadow: 0 0 10px var(--bad);
    color: var(--white);
    transition: all .1s ease;
}
.redBtn .redBtnSvg {
    fill: var(--white);
    transition: all .1s ease;
}
.redBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.redBtn:hover .redBtnSvg {
    fill: var(--black);
}



.blockBtn {
    background-color: var(--gray) !important;
    box-shadow: 0 0 10px var(--gray) !important;
    color: var(--white) !important;
    transition: all .1s ease;
    pointer-events: none;
}
.blockBtn .blockBtnSvg {
    fill: var(--white) !important;
    transition: all .1s ease;
}



.ghostBtn {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    color: var(--blue);
    transition: all .1s ease;
}
.ghostBtn .ghostBtnSvg {
    fill: var(--blue);
    transition: all .1s ease;
}
.ghostBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.ghostBtn:hover .ghostBtnSvg {
    fill: var(--black);
}



.emphasisBtn {
    background-color: var(--emphasis);
    box-shadow: 0 0 10px var(--emphasis);
    color: var(--white);
    transition: all .1s ease;
}
.emphasisBtn .emphasisBtnSvg {
    fill: var(--white);
    transition: all .1s ease;
}
.emphasisBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
    color: var(--black);
}
.emphasisBtn:hover .emphasisBtnSvg {
    fill: var(--black);
}



.switchBtn {
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
    gap: 10px;
    color: var(--white);
    transition: all .1s ease;
}
.switchBtn .switchBtnSvg {
    fill: var(--white);
}
.switchBtn span:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.switchBtn span:last-child {
    color: var(--black);
    display: none;
}
.switchBtn:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
}
.switchBtn:hover .switchBtnSvg {
    fill: var(--black);
}
.switchBtn:hover span:first-child,
.switchBtn:hover div:first-child {
    display: none;
}
.switchBtn:hover span:last-child {
    display: flex;
}



.deleteBtn {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    color: var(--white);
    transition: all .1s ease;
}
.deleteBtn .deleteBtnSvg {
    fill: var(--bad);
    transition: all .1s ease;
}
.deleteBtn:hover {
    background-color: var(--bad);
    box-shadow: 0 0 10px var(--bad);
    color: var(--white);
}
.deleteBtn:hover .deleteBtnSvg {
    fill: var(--white);
}