:root {
	--primary-color: white;
	--accent-color: #2276F4;
	--accent-hover-color: #4c91f8;
	--shadow-color: #4572b433;
	--secondary-text-color: #9d9d9d;
	--disable-color: #eaeaea;
	--border-color: #c7c7c7;
	--pure-dark-color: #000000;

	--warning-color: #f07c24;
	--warning-background-color: #FFCF9F;





	--white: #ffffff;
	--black: #000000;

	--background: #D8E8FF;
	--neomorph-dark: rgba(130,138,153, .7);
	--text-color: #AEAEAE;
	
	--blue: #2276f4;

	--yellow: #fdce26;
	--gray: #d2d2d2;
	--emphasis: #f6705e;
	--badge: #079366;
	--good: #00be8c;
	--good-alpha: rgba(0, 190, 140, .8);
	--warn: #ffd166;
	--bad: #ef476f;
	--bad-alpha: rgba(239, 71, 111, .8);

	--bad-transparent: rgba(94, 14, 32, 0.5);
	--good-transparent: rgba(31, 104, 84, 0.5);
	--glassmorph-transparent: rgba(0, 0, 0, .5);
	--white-glassmorph-transparent: rgba(255, 255, 255, .5);
	--black-shadow: rgba(0, 0, 0, .25);
	--tooltip-background: rgba(0, 0, 0, .75);
}
