.resultsViewerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--white);
    padding: 20px;
}

.emptyResultsViewerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--white);
    padding: 20px;
    min-height: 120px;
}

.resultsViewerDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.resultsViewerDescription p {
    font-weight: 600;
    background-color: var(--background);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.resultsViewerTable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.resultsViewerTable thead tr,
.resultsViewerTable tbody tr {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.resultsViewerTable tbody tr {
    padding-bottom: 20px;
}
.resultsViewerTable tbody tr:last-child {
    padding-bottom: 0;
}
.resultsViewerTable thead tr th:first-child,
.resultsViewerTable tbody tr td:first-child {
    width: 40px;
}
.resultsViewerTable thead tr th:nth-child(2),
.resultsViewerTable tbody tr td:nth-child(2) {
    width: 130px;
}
.resultsViewerTable thead tr th:nth-child(3),
.resultsViewerTable tbody tr td:nth-child(3) {
    width: 350px;
}
.resultsViewerTable thead tr th:nth-child(4),
.resultsViewerTable thead tr th:nth-child(5),

.resultsViewerTable tbody tr td:nth-child(4),
.resultsViewerTable tbody tr td:nth-child(5) {
    width: 310px;
}
.resultsViewerTable thead tr th:last-child,
.resultsViewerTable tbody tr td:last-child {
    width: 160px;
}
.resultsViewerTable thead tr p {
    font-weight: 600;
}
.resultsViewerTable tbody tr p {
    font-weight: 500;
}

.resultsViewerSendBtns,
.resultsViewerSendDate,
.resultsViewerResults {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resultsViewerUsefullBtns {
    display: flex;
    justify-content: space-between;
}

.resultsViewerSendBtns a {
    width: 100%;
}

.btnWithIcon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.btnWithIcon:first-child {
    padding-right: 30px;
}

.btnWithIcon:last-child {
    padding-left: 30px;
}

.resultsViewerTableHeaderItem,
.resultsViewerTableBodyItem {
    height: 40px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.resultsViewerResults .resultsViewerTableBodyItem {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.resultsViewerResults .resultsViewerTableBodyItem p {
    font-weight: 600 !important;
}

.resultsViewerResults .resultsViewerTableBodyItem a {
    position: absolute;
    right: 0;
    top: 0;
}

.gradeRed {
    color: var(--bad);
}

.gradeYellow {
    color: var(--warn);
}

.gradeGreen {
    color: var(--good);
}

.resultsViewerTableBodyItem a {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.itemWithIcons {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.svgIconTableHeaderItem {
    fill: var(--black);
}

.resultsViewerTablePagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.resultsViewerUsefullBtns a {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.emptyResultsViewerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}