.headerWrapper {
    position: sticky;
    top: 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--black-shadow);
    border-radius: 20px;
    max-height: 80px;
    width: 100%;
    padding: 20px;
    z-index: 10;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 10;
}